@keyframes load {
    0%{
        background-color: rgb(255, 255, 255);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    /* font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; */
    font-family:serif;
    background-color:rgb(243, 239, 242);
    animation: load 1s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
    display: block;
    transition: .25s;
}

a:hover{
    opacity: .8;
}

/* 流れる文字 */
.flow_sentence{
    font-size: 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    white-space: nowrap;
    color: red;
  }

  @media screen and (max-width: 600px) {
    .flow_sentence{
        font-size: .7rem;
      }
  }

  