@keyframes load {
    0%{
        background-color: rgb(255, 255, 255);
        opacity: 0;
    }
    50%{
        opacity: 0;
        background-color:rgb(132, 205, 216);
    }
    100%{
        opacity: 1;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    /* font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro','メイリオ', 'Meiryo', '游ゴシック', 'Yu Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; */
    font-family:serif;
    background-color:rgb(255, 255, 255);
    animation: load 2s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
    display: block;
    transition: .25s;
}

a:hover{
    opacity: .8;
}

/* 流れる文字 */
.flow_sentence{
    font-size: 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    white-space: nowrap;
    color: red;
  }

  @media screen and (max-width: 600px) {
    .flow_sentence{
        font-size: .7rem;
      }
  }

  /* back-ground-animation */
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  /* back-ground-animation ここまで*/
