.title{
  width: min(80%,1000px);
  margin: 0 auto;
}

.container{
  background-color: rgb(235, 230, 224);
  width: min(80%,1000px);
  min-width: 350px;
  margin: 0 auto;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

/* @media screen and (max-width:800px){
  .wrapper{
    display:block;
  } 

} */

.wrapper div{
  width: min(80%,400px);
  margin: 5px auto;
  background-color: aliceblue;
}

.footer{
  width: 100%;
  text-align: center;
  background-color: rgb(216, 230, 241);
}