.title{
  width: min(80%,1200px);
  margin: 0 auto;
}

.skill_wrapper{
  width: min(80%,1200px);
  min-width: 350px;
  margin: 20px auto;  
}

.container{
  background-color: rgb(235, 230, 224);
  width: min(80%,1200px);
  min-width: 350px;
  margin: 0 auto;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

@media screen and (max-width:500px){
  .url_p a{

    font-size: 75%;
  }
}

.wrapper div{
  width: min(90%,500px);
  margin: 5px auto;
  background-color: aliceblue;
  border: solid 1px black;
}

.url_p {
  font-size: 80%;
}

.footer{
  width: 100%;
  text-align: center;
  background-color: rgb(216, 230, 241);
}