.title{
  width: min(95%,1200px);
  margin: 0 auto;
}

.skill_wrapper{
  width: min(80%,1200px);
  min-width: 350px;
  margin: 20px auto;  
}

.container{
  background-color: rgb(235, 230, 224);
  width: min(100%,1200px);
  min-width: 350px;
  margin: 0 auto;
}

.container h2{
  margin-left: 10px;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

.wrapper div{
  width: min(95%,500px);
  padding: 5px;
  margin: 5px auto;
  background-color: aliceblue;
  border: solid 1px black;
}

.url_p {
  font-size: 100%;
}

@media screen and (max-width:600px){
  .url_p{
    font-size: 90%;
  }
}


.footer{
  width: 100%;
  text-align: center;
  background-color: rgb(216, 230, 241);
}